.block {
    display: inline-block;
    margin: 20px;
    position: relative;
    width: 320px;
    height: 180px;
}

.block a {
    text-decoration: none;
    color: black;
}

.block-title-in {
    position: relative;
    width: 320px;
    height: 60px;
    background: #4299d9;
    margin-top: -60px;
    text-align: center;
    border-radius: 0px 0px 8px 8px;
}

.block-title-in p {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.block-title-under {
    text-decoration: none;
    font-size: 18px;
    position: relative;
    padding: 10px;
    width: 320px;
    height: 60px;
}

.block .created {
    position: relative;
    border-color: #4299d9;
    border-width: 2px;
    border-style: solid;
    background-color: white;
    border-radius: 4px;
    width: auto;
    display: inline-block;
    margin: 10px 0px;
    padding: 5px 10px;
}

.block img {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.scroller {
    margin: 20px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    height: auto;
    width: 100%;
    scrollbar-width: auto thin none;
}